<html>
  <head>
    <title>MotoSprint</title>
    <link rel="icon" type="image/ico" href="/img/motosprint.ico" />

    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/products.css" />
    <link rel="stylesheet" href="/styles/new_editProducts.css" />
    <link rel="stylesheet" href="/styles/presupuestos.css" />
    <link rel="stylesheet" href="/styles/newPresupuesto.css" />
    <link rel="stylesheet" href="/styles/verPresupuestos.css" />
    <link rel="stylesheet" href="/styles/importProd.css" />
    <link rel="stylesheet" href="/styles/confirmProd.css" />
    <link rel="stylesheet" href="/styles/brands.css" />
  </head>
  <body>
    <div class="layout">
      <nav class="navbar">
        <div class="notification-container">
          <a href="#" class="bell-link" id="notificationBell">
            🔔
            {{#if hasLowStock}}
              <span class="badge">{{lowStockCount}}</span>
            {{/if}}
          </a>

          <div class="notification-dropdown" id="notificationMenu">
            <h3>Stock Bajo</h3>
            <ul class="notification-list">
              {{#each lowStockList}}
                <li>
                  <strong>{{this.nombre}} - {{this.marca.nombre}}</strong>
                  <span class="text-danger">Stock: {{this.stock}}</span>
                </li>
              {{else}}
                <li class="empty-msg">Todo el stock está bien ✅</li>
              {{/each}}
            </ul>
          </div>
        </div>

        <a href="/productos" class="navBarLink">Productos</a>

        <a href="/productos/nuevo" class="navBarLink">
          Agregar producto
        </a>

        <a href="/importar" class="navBarLink">Cargar Productos</a>

        <a href="/marcas" class="navBarLink">Gestionar Marcas</a>

        <a href="/presupuestos" class="navBarLink">Presupuestos</a>

        <a href="/logout" class="navBarLink logout-link">Cerrar sesión</a>

      </nav>
      <main>
        {{{body}}}
      </main>
    </div>

    <script src="/js/notification.js"></script>
  </body>
</html>