<div class="containerPresupuesto">
  <div class="titlePresupuesto">
    <h2>Presupuestos</h2>

    <a href="/presupuestos/nuevo" class="btn">Nuevo presupuesto</a>
  </div>

  <table class="table">

    <tr class="row">
      <th>Cliente</th>
      <th>Total</th>
      <th>Acciones</th>
    </tr>

    {{#each presupuestos}}

      <tr class="row">

        <td>{{this.cliente}}</td>
        <td>${{this.total}}</td>

        <td class="actions">

          <a href="/presupuestos/ver/{{this._id}}" class="btn">
            Ver
          </a>

          <a
            href="/presupuestos/eliminar/{{this._id}}"
            class="btnDelete"
            onclick="return confirm('¿Eliminar presupuesto?')"
          >
            Eliminar
          </a>

        </td>

      </tr>

    {{else}}
      <tr>
        <td colspan="5">
          <div class="textEmptyProducts">
            <p>No hay ningun presupuesto cargado, cargalo para verlo aqui!</p>
          </div>
        </td>
      </tr>

    {{/each}}

  </table>
</div>