<div class="containerProducts">

  <div class="containerSearchBar">

    <form action="/productos" method="GET" class="searchForm">

      <input
        type="text"
        name="search"
        placeholder="🔍 Buscar producto..."
        value="{{search}}"
        class="searchInput"
      />

      <button class="btn">
        Buscar
      </button>

      {{#if search}}
        <a href="/productos" class="btn">🔄️</a>
      {{/if}}

    </form>

  </div>

  <div>

    <div class="containerTableProduct">

      <table class="productTableProduct">

        <thead>

          <tr>
            <th>Producto</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
          </tr>

        </thead>

        <tbody>

          {{#each productos}}

            <tr class="rowProduct">

              <td>{{this.nombre}}</td>
              <td>{{this.marca.nombre}}</td>
              <td>$ {{this.precio}}</td>

              <td>

                {{#if this.stock}}
                  <span>
                    {{this.stock}}
                  </span>
                {{else}}
                  <span>
                    Sin stock
                  </span>
                {{/if}}

              </td>

              <td class="actions">

                <a href="/productos/editar/{{this._id}}" class="btn">
                  Editar
                </a>

                <a href="/productos/eliminar/{{this._id}}" class="btnDelete">
                  Eliminar
                </a>

              </td>

            </tr>

          {{else}}
            <tr>
              <td colspan="5">
                <div class="textEmptyProducts">
                  <p>No hay ningun producto cargado, cargalos para verlos aqui!</p>
                </div>
              </td>
            </tr>

          {{/each}}

        </tbody>

      </table>

    </div>

  </div>

</div>

<script src="/js/confirmDelete.js"></script>