<div class="container">
  <div class="c5">
    <div class="c1">
      <img src="/img/motosprint.jpeg" alt="" />
      <h3>📍AV.RIZZUTO 626 - RIO SECO - C.P.:5248</h3>
      <h3>📱351 6230854</h3>
    </div>
    <div class="c2">
      <h2>Presupuesto</h2>
      <h4>Documento no valido como Factura.</h4>
      <p>Fecha: {{presupuesto.fechaFormateada}}</p>
    </div>
    <div class="c3">
      <p>Cliente: {{presupuesto.cliente}}</p>
      <p>Domicilio: {{presupuesto.domicilio}}</p>
    </div>
  </div>
  <div class="c4">
    <table class="tabla-limpia">

      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Subtotal</th>
      </tr>

      {{#each presupuesto.productos}}

        <tr>
          <td>{{this.nombre}}</td>
          <td>{{this.cantidad}}</td>
          <td>${{this.precio}}</td>
          <td>${{this.subtotal}}</td>
        </tr>

      {{/each}}

    </table>
    <div class="c7">
      <h3>Total: ${{presupuesto.total}}</h3>
      <p class="printText">IMPORTANTE! LOS PRODUCTOS ELECTRICOS (Tales como
        REGULADORES, CDI, BATERIAS, LAMPARAS, BUJIAS, TABLEROS) NO TIENEN
        CAMBIO, NI GARANTIA Y TAMPOCO ADMITEN DEVOLUCION. Gracias por
        comprender.</p>
    </div>
  </div>
  <div class="c6">
    <button onclick="window.print()" class="btn">
      Imprimir
    </button>

    {{!-- <a href="/presupuestos/pdf/{{presupuesto._id}}">
      Descargar PDF
    </a> --}}
  </div>
</div>